astropy
cmasher
drms
imageio>=2.31.6
Jinja2
lxml
matplotlib
numpy
orjson  # not needed, but improves plotly performance
pandas
plotly
python-dateutil
scipy
setuptools
speasy>=1.2.7
sunkit_magex
sunpy
threadpoolctl
tqdm
zeep
